* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Heiti SC", "Microsoft YaHei", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
}

.flex-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.align-center {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

html, body {
    font-size: 14px;
    background-color: black;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.time {
    position: absolute;
    right: 0;
    bottom: 3.6rem;
    color: white;
}

.time > a {
    padding: 1rem .5rem;
}

.player-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.player {
    position: relative;
    text-align: center;
    padding-top: 2rem;
}

.player-wrapper:nth-child(1) {
    border-right: 1.5rem solid #333;
}

.player-wrapper:nth-child(1) .player > span:nth-child(1) {
    position: absolute;
    top: 1rem;
    left: 0;
    color: white;
    padding-left: .5rem;
}

.player-wrapper:nth-child(2) .player > span:nth-child(1) {
    position: absolute;
    top: 1rem;
    right: 0;
    color: white;
    padding-right: .5rem;
}

.player > span:nth-child(2) {
    font-size: 7rem;
    color: green;
}

.minus {
    margin-right: .8rem;
}

.btn-wrapper {
    margin-top: 1rem;
    height: 3em;
}

input {
    font-size: 2rem;
    background-color: white;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
}

@media screen and (orientation: portrait) {
    .wrapper {
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }

    .player-wrapper:nth-child(1) {
        border-right: none !important;
        border-bottom: 1.5rem solid #333;
    }

    .player-wrapper:nth-child(2) .player > span:nth-child(1) {
        left: .5rem;
        right: auto;
    }

    .time {
        top: .5rem;
    }
}